.gm-ajg__aviso {
	&.gm-ajg__aviso--carregando {
		.gm-ajg__aviso-carregando {
			display: inline-block;
		}
		.gm-ajg__aviso-carregado {
			display: none;
		}
	}
	&.gm-ajg__aviso--carregado {
		.gm-ajg__aviso-carregando {
			display: none;
		}
		.gm-ajg__aviso-carregado {
			display: inline-block;
		}
	}
}
.gm-ajg__lista {
	font-size: 1.2em;
}
.gm-ajg__lista__processo {
	float: left;
	margin-right: 3ex;
}
.gm-ajg__lista__resultado {
}
.gm-ajg__lista__resultado--ok {
	color: green;
}
.gm-ajg__lista__resultado--erro {
	color: red;
}
